<div class="header_content">
  <div class="page_header">
    <div class="logos">
      <div class="first_logo_item">
        <img src ="./assets/img/Ibis_Styles_Logo_2011.png" alt="ibis" width="100%" height=""/>
      </div>
      <div class="second_logo_item">
        <img src ="{{mode ==='dark' ? './assets/img/logoWhite.png' : './assets/img/all-accor-live-limitless-logo-2.png'}}" alt="allAccor" width="100%" height=""/>
      </div>
    </div>
    <div class="menu_items">
      <button mat-button [routerLink]="['/']">TODAY</button>
      <button mat-button [routerLink]="['/market']">MARKET</button>
      <button mat-button [routerLink]="['/historic']">HISTORIC</button>
      <button mat-button [routerLink]="['/staff']">STAFF</button>
      <button mat-button [matMenuTriggerFor]="beforeMenu" class="mode-btn"><mat-icon>brightness_6</mat-icon></button>
      <mat-menu #beforeMenu="matMenu" xPosition="before" class="dropdown">
        <button mat-menu-item (click)="changeTheme('light')">Light Mode</button>
        <button mat-menu-item (click)="changeTheme('dark')">Dark Mode</button>
        <button mat-menu-item (click)="changeTheme('orange')">Orange Mode</button>
      </mat-menu>
    </div>
  </div>
</div>
