<div class="market">
  <div class="container-fluid">
    <div class="row market-block">
      <div class="col-lg-8 market-item">
        <div class="header-title text-center">
          <h3>Market</h3>
        </div>
      </div>
      <div class="col-lg-4 market-item">
        <div class="months-block d-flex justify-content-between">
          <div class="w-100 mr-2">
            <span>July</span>
            <div class="progress first-progress" >
              <div class="progress-bar" role="progressbar" style=""  aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
          </div>
          <div class="w-100">
            <span>AUGUST</span>
            <div class="progress second-progress">
              <div class="progress-bar " role="progressbar" style="" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
          </div>
          <div class="w-100 ml-2">
            <span>SEPTEMBER</span>
            <div class="progress third-progress">
              <div class="progress-bar" role="progressbar" style="" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row market-block">
      <div class="col-lg-8 market-item">
        <div class="competitors-prices">
          <h2>Competitors Prices</h2>
          <table>
            <thead>
              <tr class="mb-5" >
                <th *ngFor="let item of header"><div>{{item}}</div></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of rows">
                <td>
                  <div class="font-weight-normal">{{item.name}}</div>
                </td>
                <td *ngFor="let one of item.month">
                  <div [ngClass]="{
                        'text-blue': one.status === 'available',
                        'text-green': one.status === 'reserved',
                        'text-red': one.status === 'busy'
                      }">{{one.point}}</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
        <div class="col-lg-4 market-item">
          <div class="row">
            <div class="col-lg-12">
              <div class="datePicker first-datePicker">
                <div class="month">
                  <span class="monthname">July 2020</span>
                  <div class="daynames">
                    <span class="dayname" style="margin-left: 12px">SUN</span>
                    <span class="dayname">MON</span>
                    <span class="dayname">TUE</span>
                    <span class="dayname">WED</span>
                    <span class="dayname">THU</span>
                    <span class="dayname">FRI</span>
                    <span class="dayname">SAT</span>
                  </div>
                  <div class="days d-flex flex-wrap">
                    <div class = "day fday">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day fday">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day fday">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day fday">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day fday">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day fday">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="datePicker second-datePicker">
                <div class="month">
                  <span class="monthname">July 2020</span>
                  <div class="daynames">
                    <span class="dayname" style="margin-left: 12px">SUN</span>
                    <span class="dayname">MON</span>
                    <span class="dayname">TUE</span>
                    <span class="dayname">WED</span>
                    <span class="dayname">THU</span>
                    <span class="dayname">FRI</span>
                    <span class="dayname">SAT</span>
                  </div>
                  <div class="days d-flex flex-wrap">
                    <div class = "day fday">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day fday">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day fday">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day fday">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day fday">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day fday">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                    <div class = "day">
                      <span></span>
                      <span>&#8205;</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row market-block">
      <div class="col-lg-8 charts market-item">
        <div class="chart-item pl-4 pr-5">
          <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [xaxis]="chartOptions.xaxis"
              [stroke]="chartOptions.stroke"
              [tooltip]="chartOptions.tooltip"
              [dataLabels]="chartOptions.dataLabels"
              [legend]="chartOptions.legend"
              [markers]="chartOptions.markers"
              [grid]="chartOptions.grid"
              [yaxis]="chartOptions.yaxis"
              [title]="chartOptions.title"
              [theme]="chartOptions.theme"
          ></apx-chart>
        </div>
      </div>
      <div class="col-lg-4 market-item">
        <div class="datePicker third-datePicker">
          <div class="month">
            <span class="monthname">July 2020</span>
            <div class="daynames">
              <span class="dayname" style="margin-left: 12px">SUN</span>
              <span class="dayname">MON</span>
              <span class="dayname">TUE</span>
              <span class="dayname">WED</span>
              <span class="dayname">THU</span>
              <span class="dayname">FRI</span>
              <span class="dayname">SAT</span>
            </div>
            <div class="days d-flex flex-wrap">
              <div class = "day fday">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day fday">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day fday">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day fday">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day fday">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day fday">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
              <div class = "day">
                <span></span>
                <span>&#8205;</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
