
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angularDashboard-primary: mat-palette($mat-indigo);
$angularDashboard-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angularDashboard-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$angularDashboard-theme: mat-light-theme($angularDashboard-primary, $angularDashboard-accent, $angularDashboard-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angularDashboard-theme);

/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import "../node_modules/angular-calendar/css/angular-calendar.css";


@font-face {
  font-family: 'Roboto', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.light-theme {
  min-height: 100vh;
  background: linear-gradient(0, #8E9DA9, #ECF0F2);
  .chart-info {
    &.revenue {
      background: linear-gradient(90deg, #11AEC5, #0B8C9F);
    }
    &.rooms {
      background: linear-gradient(90deg, #058CD9, #0370AE);
    }
    &.guests {
      background: linear-gradient(90deg, #385CEC, #2C49BC);
    }
  }
  .right-block {
    .buttons-wrapper {
      button {
        background-color: #8E9EAB;
      }
    }
    .cdk-focused.cdk-mouse-focused {
      background-color: #283048 !important;
      outline: #283048 !important;
      color: #fff;
    }
  }
  .charts {
    .chart-item {
      background-color: #EEF2F3;
    }
  }
  /* ----- market ----- */
  .market {
    .header-title {
      border-bottom: 1px solid #000;
    }
    .months-block {
      .first-progress {
        background-color: #69C9D7;
        .progress-bar {
          background-color: #12B9D2;
        }
      }
      .second-progress {
        background-color: #68B5E1;
        .progress-bar {
          background-color: #0594E6;
        }
      }
      .third-progress {
        background-color: #859BEA;
        .progress-bar {
          background-color: #3B61F9;
        }
      }
    }
    .competitors-prices {
      background-color: #EEF2F3;
      table {
        td {
          div {
            &.text-blue {
              color: #1A237E;
            }
            &.text-red {
              color: #FF0000;
            }
            &.text-green {
              color: #558B2F;
            }
          }
        }
      }
    }
    .first-datePicker {
      background: linear-gradient(90deg, #11AFC7, #0A8394);
    }
    .second-datePicker {
      background: linear-gradient(90deg, #0593E5, #0368A2);
    }
    .third-datePicker {
      background: linear-gradient(90deg, #3A60F6, #2945B1);
    }
  }
  /* ----- historic ----- */
  .historic {
    .header-title {
      border-bottom: 1px solid #000;
    }
    .chart-item {
      background-color: #EEF2F3;
    }
  }
}

/* ------------- dark theme ---------- */
.dark-theme {
  min-height: 100vh;
  background: linear-gradient(0, #2C354A, #828F95);
  .header_content {
    .menu_items {
      color: #ffffff;
    }
  }
  .chart-info {
    &.revenue {
      background: linear-gradient(90deg, #055B5F, #03494C);
    }
    &.rooms {
      background: linear-gradient(90deg, #025490, #024473);
    }
    &.guests {
      background: linear-gradient(90deg, #182574, #131D5D);
    }
  }
  .top-banner {
    .left-block, .right-block {
      color: #EEF2F3;
    }
    .right-block {
      .buttons-wrapper {
        button {
          background-color: #859398;
          color: #000000;
          border-color: #000000;
        }
      }
    }
  }
  .charts {
    .chart-item {
      background-color: #283147;
      .chart-point {
        color: #ffffff;
      }
    }
  }
  /* ----- market ----- */
  .market {
    .header-title {
      border-bottom: 1px solid #ffffff;
      color: #ffffff;
    }
    .months-block {
      span {
        color: #ffffff;
      }
      .first-progress {
        background-color: #3C7176;
        .progress-bar {
          background-color: #006064;
        }
      }
      .second-progress {
        background-color: #3B6D90;
        .progress-bar {
          background-color: #01579B;
        }
      }
      .third-progress {
        background-color: #475382;
        .progress-bar {
          background-color: #1A237E;
        }
      }
    }
    .competitors-prices {
      background-color: #283048;
      color: #ffffff;
      table {
        td {
          div {
            &.text-blue {
              color: #ffffff;
            }
            &.text-red {
              color: #FF0000;
            }
            &.text-green {
              color: #6EFF00;
            }
          }
        }
      }
    }
    .first-datePicker {
      background: linear-gradient(90deg, #055F63, #034447);
    }
    .second-datePicker {
      background: linear-gradient(90deg, #025997, #023F6C);
    }
    .third-datePicker {
      background: linear-gradient(90deg, #19277A, #111C57);
    }
  }
  /* ----- historic ----- */
  .historic {
    .header-title {
      border-bottom: 1px solid #ffffff;
      color: #ffffff;
    }
    .chart-item {
      background-color: #283048;
      .diary-media-content {
        color: #fff;
      }
    }
  }
}


/* --------- orange-theme ---------- */
.orange-theme {
  min-height: 100vh;
  background: linear-gradient(0, #8E9DA9, #ECF0F2);
  .chart-info {
    &.revenue {
      background: linear-gradient(90deg, #F1B72E, #C09223);
    }
    &.rooms {
      background: linear-gradient(90deg, #F08723, #BF6C1A);
    }
    &.guests {
      background: linear-gradient(90deg, #F03815, #C02C0F);
    }
  }
  .charts {
    .chart-item {
      background-color: #EEF2F3;
    }
  }
  /* ----- market ----- */
  .market {
    .header-title {
      border-bottom: 1px solid #000;
    }
    .months-block {
      .first-progress {
        background-color: #E7CD76;
        .progress-bar {
          background-color: #FFC232;
        }
      }
      .second-progress {
        background-color: #E7B374;
        .progress-bar {
          background-color: #FE8F26;
        }
      }
      .third-progress {
        background-color: #E68971;
        .progress-bar {
          background-color: #FD3A17;
        }
      }
    }
    .competitors-prices {
      background-color: #EEF2F3;
      table {
        td {
          div {
            &.text-blue {
              color: #1A237E;
            }
            &.text-red {
              color: #FF0000;
            }
            &.text-green {
              color: #558B2F;
            }
          }
        }
      }
    }
    .first-datePicker {
      background: linear-gradient(90deg, #FDC131, #B58A20);
    }
    .second-datePicker {
      background: linear-gradient(90deg, #FD8E25, #B46618);
    }
    .third-datePicker {
      background: linear-gradient(90deg, #FB3916, #B4290D);
    }
  }

  /* ----- historic ----- */
  .historic {
    .header-title {
      border-bottom: 1px solid #000;
    }
    .chart-item {
      background-color: #EEF2F3;
    }
  }
}

